.light-button {
  padding: 1px 15px;               
  border-radius: 9999px;
  border: 2px solid #3a8bff;
  background-color: #111;
  color: #ccc;
  font-size: 0.85rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 6px rgba(58, 139, 255, 0.4);
  display: inline-flex;
  align-items: center;   
  justify-content: center;         
  line-height: 1;                  
  height: 50px;
  width: 80px;
  min-height: unset;
}
